body {
	background: url(../images/background.gif) no-repeat center center fixed;
	background-size: cover;
	border-radius: 25%;
}

h1 {
	color: #fff;
	font-family: 'Orbitron', sans-serif;
}

p {
	color: #fff;
}

#container {
	font-family: 'Orbitron', sans-serif;
	margin-top: 25px;
}

header {
	font-family: 'Economica', sans-serif;
	background-color: #000;
	width: 700px;
	margin: 0 auto;
	border-radius: 5px;
}

header h1 {
	text-align: center;
	font-size: 50px;
	letter-spacing: 2px;
	padding: 8px 5px 8px 5px;
}

section {
	background-color: grey;
	width: 700px;
	height: 250px;
	line-height: 1em;
	margin: 25px auto 10px;
	border-radius: 5px;
}

section p {
	padding-top: 9px;
	padding-left: 10px;
	padding-right: 5px;
}

#randomnumber-and-scoreboard {
	width: 700px;
	margin: 0 auto 10px;
	height: 130px;
	border-radius: 5px;
}

#random-number {
	padding-left: 8px;
}

#random-number-generator {
	background-color: #000;
	font-size: 60px;
	font-weight: bold;
	color: #fff;
	font-family: 'Economica', sans-serif;
	width: 49%;
	height: 100%;
	float: left;
	border-radius: 5px;
	text-align: center;
}

#score-board {
	background-color: #000;
	width: 49%;
	height: 100%;
	font-size: 20px;
	float: right;
	font-family: 'Economica', sans-serif;
	text-align: center;
	line-height: 1.4em;
	border-radius: 5px;
}

#crystals {
	background-color: #000;
	width: 350px;
	height: 62px;
	margin: auto;
	border: 2px solid #000;
	border-radius: 5px;
}

#crystals img {
	width: 25%;
	height: 100%;
	float: left;
}

#current-score {
	clear: both;
	width: 700px;
	height: 105px;
	background-color: #000;
	margin: 10px auto;
	border-radius: 5px;
}

#current-score h1 {
	font-family: 'Economica', sans-serif;
	font-size: 150%;
	padding-top: 5px;
	padding-left: 10px;
	padding-bottom: 10px;
}

#current-score-counter {
	font-family: 'Economica', sans-serif;
	color: #ffffff;
	font-size: 400%;
	padding-left: 10px;
}










